
@{
    var items = Himall.Core.EnumHelper.ToDescriptionDictionary<Himall.Model.ApplyWithDrawInfo.ApplyWithDrawStatus>().Select(e => new SelectListItem
    {
        Text = e.Value,
        Value = e.Key.ToString()
    }).ToList();
    items.Insert(0, new SelectListItem { Text = "全部", Value = "0", Selected = true });
}
@{var status = Request.QueryString["status"];}
<script src="~/Areas/Admin/Scripts/ApplyWithDraw.js"></script>
<script src="~/Scripts/jquery.hiMallDatagrid.js"></script>
<script src="~/Scripts/jquery.himallLinkage.nocreate.js"></script>
<input type="hidden" id="inputApplyStatus" />
<div class="container">
    <ul class="nav nav-tabs-custom clearfix">
        <li><a href="Index">预付款管理</a></li>
        <li class="active"><a >提现管理</a></li>
    </ul>
    <h3 class="table-hd apply-h3">
        说明：使用微信企业付款并不使用交易资金，需要企业预先充值，充值的资金，企业可自助在微信支付平台提现至结算账户请您确保微信账户有足够的余额用于提现；如何充值：登录微信支付平台——点击资金管理——选择充值；
    </h3>
    <div class="search-box" id="search-box">
        <form class="custom-inline" role="form">
            <label class="label-inline" for="">状态：</label>
            <div class="form-group">
                @Html.DropDownList("applyType", items, new { @class = "form-control input-sm" })
            </div>
            <label >提现单号：</label>
            <div class="form-group">
                <input id="inputWithNo" class="form-control input-ssm" type="text">
            </div>
            <label > 提现会员：</label>
            <div class="form-group">
                <input id="inputWithDrawUser" class="form-control input-ssm" type="text">
            </div>
            <button type="button" class="btn btn-primary btn-sm" id="searchButton">搜索</button>
        </form>
    </div>
    <table id="list" class="table"></table>
</div>