@{
    Layout = "~/Areas/Web/Views/Shared/_UserCenter.cshtml";
    ViewBag.Title = "My Account";
}
@model  Himall.Model.MemberAccountSafety
@using Himall.Model;
@using Himall.Core;
@{var type = Request.QueryString["type"];}

<script src="~/Scripts/jquery.hiMallDatagrid.js"></script>
<script src="~/Scripts/jquery.himallLinkage.nocreate.js"></script>
<script src="~/Scripts/jquery.placeholder.min.js"></script>
<script src="~/Scripts/bootstrap.autocomplete.js"></script>
<script src="~/Areas/Web/Scripts/UserCapital.js"></script>
<style>.tb-goods td{ padding:5px 15px;}</style>
<div class="box1 lh24 Acc_Safety">
	<div class="title bot-border">
        <h3 class="title_txt cur">Account Security Manage</h3>
    </div>

    <div class="border-box">
       <div class="header_l">Security：
        @if(Model.AccountSafetyLevel==1)
        { 
            <progress value="33" max="100"></progress><span>Weak</span>
        }
        else if(Model.AccountSafetyLevel==4)
        {
            <progress value="100" max="100"></progress><span>Strong</span>
        }
        else
        {
            <progress value="66" max="100"></progress><span>Medium</span>
        }
         Setting the blow information to impove account and capital security</div>
       <div class="list">
            <ul>
                <li><i class="yes"></i>Yes</li>
                <li>Login Password</li>
                <li><span>Strong security password can make the account more secure,please Periodic change the password</span></li>
                <li><a href="../UserInfo/ChangePassword">Update</a></li>
            </ul>
           <ul>
               @if(Model.PayPassword)
               { 
                   <li><i class="yes"></i>Yes</li>
                   <li>Transaction password</li>
                   <li><span>Strong security password can make the capital more secure,please Periodic change the password</span></li>
                   <li><a href="../UserCapital/SetPayPwd">Change</a></li>
               }
               else
               {
                <li><i class="no"></i>No</li>
                <li>Transaction password</li>
                <li><span>Strong security password can make the capital more secure,please Periodic change the password</span></li>
                <li><a href="../UserCapital/SetPayPwd">Configuration</a></li>
               }
           </ul>
            <ul>
                @if (Model.BindPhone)
                {
                    <li><i class="yes"></i>Verified</li>
                    <li>Verification </li>
                    <li><span>After verified you can find password via mobile,and can receive message about order payment,shipped</span></li>
                    <li><a href="Bind?pluginId=Himall.Plugin.Message.SMS">Change</a></li>
                }
                else
                {
                    <li><i class="no"></i>No Verify</li>
                    <li>Moblie Verification</li>
                    <li><span>After verified you can find password via mobile,and can receive message about order payment,shipped</span></li>
                    <li><a href="Bind?pluginId=Himall.Plugin.Message.SMS">Verify</a></li>
                }
            </ul>
            <ul>
                @if(Model.BindEmail)
                { 
                    <li><i class="yes"></i>Verified</li>
                    <li>Email Verification</li>
                    <li><span>After verified you can find password via email,and can receive message about order payment,shipped</span></li>
                    <li><a href="Bind?pluginId=Himall.Plugin.Message.Email">Change</a></li>
                }
                else
                {
                    <li><i class="no"></i>No Verify</li>
                    <li>Email Verification</li>
                    <li><span>After verified you can find password via email,and can receive message about order payment,shipped</span></li>
                    <li><a href="Bind?pluginId=Himall.Plugin.Message.Email">Verify</a></li>
                }
            </ul>
            
       </div>
    </div>

</div>