@{
    Layout = "~/Areas/Web/Views/Shared/_UserCenter.cshtml";
    ViewBag.Title = "User Information";
}

<div class="box1 lh24">
    <div class="title bot-border">
        <h3 class="title_txt cur">Verification Information</h3>
    </div>
    
    <div class="border-box">
		<div class="yanzh_pic no">
			<span class="col">Email Verification</span><span>Completed</span>
	
		</div>
        <div class="yxyz">
            <span class="yxyz_span1" style="margin:0 auto;width:250px;">Congratulation,bind success！</span>
        </div>
    </div>
</div>
