@{
    ViewBag.Title = "Not found";
}
<script language="javascript" type="text/javascript">
    var secs = 5; //倒计时的秒数
    var URL;
    function Load(url) {
        URL = url;
        for (var i = secs; i >= 0; i--) {
            window.setTimeout('doUpdate(' + i + ')', (secs - i) * 1000);
        }
    }

    function doUpdate(num) {
        document.getElementById("ShowDiv").innerHTML = '<strong><font color=red> ' + num + ' </font></strong> Seconds auto direct to <a  href="/" class="link_1">Home Page</a>，Please waiting...';
        if (num == 0) { window.location = URL; }
    }
    $(function () {
        Load('/');
    });
</script>
<div class="w cl">
    <div class="tips-page error-page">
        <h2>Sorry, not found this url</h2>
        <div class="error_child"></div>
        <div id="ShowDiv"></div>
    </div>
</div>
