@model Himall.Model.GiftOrderInfo
@{
    ViewBag.Title = "Reward Center";
    Layout = "~/Areas/Web/Views/Shared/_PayTopBar.cshtml";
}
<div class="w990 main">
    <div class="m mainbody">
        <div class="mc">
            <s class="icon-succ04"></s>
            <h3 class="orderinfo">Gifts exchange order submit success！</h3>
            <ul class="list-orderinfo">
                    <li>OrderId：@(Model.Id)</li>
                <li class="li-last"> Deduction：<strong class="ftx-01">@(Model.TotalIntegral)</strong> points</li>
            </ul>
            <div class="btns mt20"><a class="btn-5" href="/UserCenter?url=/userIntegral/OrderList&tar=/userIntegral/OrderList">View</a></div>
        </div>
    </div>
</div>

