@{
    ViewBag.Title = "Management";
}
<script src="~/Scripts/jquery.hiMallDatagrid.js"></script>
<div class="container">
    <ul class="nav nav-tabs-custom clearfix">
        <strong>Collocation</strong>
        <li class="active"><a>All Collocation</a></li>
        @if (!ViewBag.Expire)
        {
            <li><a href="@Url.Action("Add")">Add Collocation</a></li>
        }
        <li class=""><a href="@Url.Action("BuyService")">Purchasing service</a></li>
        <em class="primary-btn">
            <span class="glyphicon glyphicon-question-sign"></span>
            <div class="primary">
                <h3>温馨提示：</h3>
                <span>*</span><p>Display a list of collocation</p>
            </div>
        </em>
    </ul>
    @if (!ViewBag.Expire)
    {
        <div class="search-box only-line">
            <form class="custom-inline">
                <div class="form-group">
                    <label class="label-inline" for="">Search collocation</label><input type="text" id="CollName" class="form-control input-ssm">
                </div>
                <button id="searchBtn" class="btn btn-primary btn-sm" type="button">Search</button>
            </form>
        </div>
        <div>
            <table class="table" id="list"></table>
        </div>
    }
    else
    {
        <div class="form-horizontal">
            <div class="form-group">
                <p class="apply-primary"><span class="glyphicon glyphicon-info-sign"></span>u have not purchased a service or collocation services purchased has expired,<a href="./BuyService">buy now.</a></p>
            </div>
        </div>
    }
</div>
<script type="text/javascript">
    function query() {
        //订单表格
        $("#list").hiMallDatagrid({
            url: './List',
            nowrap: false,
            rownumbers: true,
            NoDataMsg: 'Not matching collocation',
            border: false,
            fit: true,
            fitColumns: true,
            pagination: true,
            idField: "Id",
            pageSize: 15,
            pagePosition: 'bottom',
            pageNumber: 1,
            queryParams: {},
            columns:
            [[
                { field: "Id", title: 'Id', hidden: true, width: 150 },
                {
                    field: "Title", title: "Event name", width: 300, align: "left",
                    formatter: function (value, row, index) {
                        var html = "<a target='_blank' href='/Product/Detail/" + row.ProductId + "'>"+row.Title+"</a>";
                        return html;
                    }
                },
               { field: "ShopName", title: "Shop", width: 250, align: "center" },
                { field: "StartTime", title: "Start time", width: 100, align: "center" },
                { field: "EndTime", title: "Finish time", align: "center", width: 100 },
                { field: "Status", title: "Status", width: 90, align: "center" },
            {
                field: "operation", operation: true, title: "Operation", width: 220,
                formatter: function (value, row, index) {
                    var id = row.Id.toString();
                    var now = "@DateTime.Now.Date".replace(/-/g, '/');
                    var html = ["<span class=\"btn-a\">"];
                    if (new Date(row.EndTime) > new Date(now)) {
                        html.push("<a class=\"good-check\" href=\"./Edit/" + id + "\">edit</a>");
                        html.push("<a class=\"good-check\" onclick=\"Cancel(" + id + ")\">invalidates</a>");
                    }
                    html.push("</span>");
                    return html.join("");
                }
            }
            ]]
        });
    }

    $(function () {
        query();
        $('#searchBtn').click(function (e) {
            searchClose(e);
            var Title = $.trim($('#CollName').val());
            $("#list").hiMallDatagrid('reload',
                {
                    CollName: Title,
                });
        });
    });

    function Cancel(id) {
        $.dialog.confirm('Determined to make the collocation invalid?', function () {
            var loading = showLoading();
            $.post("./Cancel", { id: id }, function (data) { loading.close(); $.dialog.tips(data.msg); query(); });
        });
    }
</script>