<?xml version="1.0"?>
<ExpressInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Name>中通速递</Name>
  <DisplayName>中通速递</DisplayName>
  <TaobaoCode>ZTO</TaobaoCode>
  <Kuaidi100Code>zhongtong</Kuaidi100Code>
  <Width>2300</Width>
  <Height>1270</Height>
  <BackGroundImage>2010111758806.jpg</BackGroundImage>
  <Logo>logo.png</Logo>
  <Elements>
    <ExpressPrintElement>
      <LeftTopPoint>
        <X>5829</X>
        <Y>1105</Y>
      </LeftTopPoint>
      <PrintElementIndex>1</PrintElementIndex>
      <RightBottomPoint>
        <X>6981</X>
        <Y>1451</Y>
      </RightBottomPoint>
    </ExpressPrintElement>
    <ExpressPrintElement>
      <LeftTopPoint>
        <X>5933</X>
        <Y>1820</Y>
      </LeftTopPoint>
      <PrintElementIndex>2</PrintElementIndex>
      <RightBottomPoint>
        <X>7085</X>
        <Y>2165</Y>
      </RightBottomPoint>
    </ExpressPrintElement>
    <ExpressPrintElement>
      <LeftTopPoint>
        <X>5944</X>
        <Y>2580</Y>
      </LeftTopPoint>
      <PrintElementIndex>3</PrintElementIndex>
      <RightBottomPoint>
        <X>7096</X>
        <Y>2926</Y>
      </RightBottomPoint>
    </ExpressPrintElement>
    <ExpressPrintElement>
      <LeftTopPoint>
        <X>1635</X>
        <Y>1129</Y>
      </LeftTopPoint>
      <PrintElementIndex>8</PrintElementIndex>
      <RightBottomPoint>
        <X>2788</X>
        <Y>1474</Y>
      </RightBottomPoint>
    </ExpressPrintElement>
    <ExpressPrintElement>
      <LeftTopPoint>
        <X>7373</X>
        <Y>1129</Y>
      </LeftTopPoint>
      <PrintElementIndex>5</PrintElementIndex>
      <RightBottomPoint>
        <X>8525</X>
        <Y>1474</Y>
      </RightBottomPoint>
    </ExpressPrintElement>
    <ExpressPrintElement>
      <LeftTopPoint>
        <X>5817</X>
        <Y>1497</Y>
      </LeftTopPoint>
      <PrintElementIndex>6</PrintElementIndex>
      <RightBottomPoint>
        <X>6970</X>
        <Y>1843</Y>
      </RightBottomPoint>
    </ExpressPrintElement>
    <ExpressPrintElement>
      <LeftTopPoint>
        <X>7062</X>
        <Y>1520</Y>
      </LeftTopPoint>
      <PrintElementIndex>7</PrintElementIndex>
      <RightBottomPoint>
        <X>8214</X>
        <Y>1866</Y>
      </RightBottomPoint>
    </ExpressPrintElement>
    <ExpressPrintElement>
      <LeftTopPoint>
        <X>1820</X>
        <Y>2569</Y>
      </LeftTopPoint>
      <PrintElementIndex>14</PrintElementIndex>
      <RightBottomPoint>
        <X>2972</X>
        <Y>2914</Y>
      </RightBottomPoint>
    </ExpressPrintElement>
    <ExpressPrintElement>
      <LeftTopPoint>
        <X>3571</X>
        <Y>1094</Y>
      </LeftTopPoint>
      <PrintElementIndex>9</PrintElementIndex>
      <RightBottomPoint>
        <X>4723</X>
        <Y>1440</Y>
      </RightBottomPoint>
    </ExpressPrintElement>
    <ExpressPrintElement>
      <LeftTopPoint>
        <X>1682</X>
        <Y>1497</Y>
      </LeftTopPoint>
      <PrintElementIndex>10</PrintElementIndex>
      <RightBottomPoint>
        <X>2834</X>
        <Y>1843</Y>
      </RightBottomPoint>
    </ExpressPrintElement>
    <ExpressPrintElement>
      <LeftTopPoint>
        <X>2891</X>
        <Y>1520</Y>
      </LeftTopPoint>
      <PrintElementIndex>11</PrintElementIndex>
      <RightBottomPoint>
        <X>4043</X>
        <Y>1866</Y>
      </RightBottomPoint>
    </ExpressPrintElement>
    <ExpressPrintElement>
      <LeftTopPoint>
        <X>1658</X>
        <Y>1843</Y>
      </LeftTopPoint>
      <PrintElementIndex>12</PrintElementIndex>
      <RightBottomPoint>
        <X>2811</X>
        <Y>2188</Y>
      </RightBottomPoint>
    </ExpressPrintElement>
  </Elements>
</ExpressInfo>