@{

    Layout = "~/Areas/Web/Views/Shared/_PayTopBar.cshtml";
}
<div class="bg-gray cl">
    <div class="w990 main">
        <div class="m pay-box">
            <div class="qrcode-box cl">
                <div class="p-w-hd">@(ViewBag.Name) Payment</div>
                <div class="p-w-bd">
                    <div class="p-w-box">
                        <div class="pw-box-hd">
                            <img src="@ViewBag.QRCode" width="298">
                        </div>
                        <div class="pw-box-ft">
                            <p>Please use @(ViewBag.Name) sweep</p>
                            <p>Sweep QR Code to pay</p> 
                        </div>
                    </div>
                    <div class="p-w-sidebar" style="background-image:url(@ViewBag.HelpImage)"></div>
                </div> 
            </div>
        </div>
    </div>
</div>
<script src="~/Areas/Web/Scripts/CashDepositWeiXinPay.js"></script>