<script src="~/Scripts/jquery.himallUpload.js"></script>
<script src="~/Scripts/jquery.placeholder.min.js"></script>
<script src="~/Scripts/bootstrap.autocomplete.js"></script>
<script src="~/Scripts/jquery.hiMallDatagrid.js"></script>

<div class="container">
    <ul class="nav nav-tabs-custom clearfix">
        <strong>Shop Bonus</strong>
        <li class="active"><a>Management</a></li>
        <li class=""><a href="#" onclick="isad( '@Url.Action("Add")' )">Add bonus</a></li>

        <li><a href="@Url.Action("BuyService")">Buy service</a></li>
    </ul>
    <div class="search-box only-line">
        <form class="custom-inline" role="form">
            <div class="form-group">
                <label class="label-inline" for="">Status</label>
                <select class="form-control input-ssm" id="searchState">
                    <option value="1">processing</option>
                    <option value="2">invalid</option>
                </select>
            </div>
            <div class="form-group">
                <label class="label-inline" for="">name</label>
                <input type="text" class="form-control input-ssm" id="searchName" value=" " />
            </div>
            <button type="button" id="btnSearch" class="btn btn-primary btn-sm">Search</button>
        </form>
    </div>

    <table class="table" id="list"></table>
</div>


<script type="text/javascript">
    $( function ()
    {
        loadGrid();

        $( "#btnSearch" ).click( function ()
        {
            $( "#list" ).hiMallDatagrid( 'reload', { name: $( "#searchName" ).val() , state: $( "#searchState" ).val() } )
        } )
    } )

    function isad( href )
    {
        $.post( "/SellerAdmin/ShopBonus/isadd", {}, function ( data )
        {
            if ( data )
            {
                location.href = href;
            }
            else
            {
                $.dialog.tips( 'A period of time can only add a random bonus!' );
            }
        } );
    }

    function loadGrid()
    {
        $( "#list" ).hiMallDatagrid( {
            url: './list',
            nowrap: false,
            rownumbers: true,
            NoDataMsg: 'Not matching data.',
            border: false,
            fit: true,
            fitColumns: true,
            pagination: true,
            idField: "Id",
            pageSize: 20,
            pageNumber: 1,
            queryParams: { name: $( "#searchName" ).val() ,state: $( "#searchState" ).val()},
            toolbar: /*"#goods-datagrid-toolbar",*/'',
            columns:
            [[
                { field: "Name", title: "Activity name" },
                {
                    field: "RandomAmountStart", title: "Random range", formatter: function ( value, row, index )
                    {
                        return row.RandomAmountStart + " - " + row.RandomAmountEnd;
                    }
                },
                {
                    field: "UseState", title: "Use conditions", formatter: function ( value, row, index )
                    {
                        if ( row.UseState == 2 )
                        {
                            return "Up to" + row.UsrStatePrice + "dollars";
                        }
                        return "None";
                    }
                },
                {
                    field: "BonusDateEnd", title: "Valid time", formatter: function ( value, row, index )
                    {
                        return row.BonusDateStartStr + " - " +row.BonusDateEndStr ;
                    }
                },
                {
                    field: "DateStart", title: "Activity time", formatter: function ( value, row, index )
                    {
                        return row.DateStartStr + " - " + row.DateEndStr;
                    }
                },
                //{ field: "ReceiveCount", title: "领取数量" },
                {
                    field: "IsInvalid", title: "Status", formatter: function ( value, row, index )
                    {
                        if($( "#searchState" ).val() == "1")
                        {
                            return "Processing";
                        }
                        else
                        {
                            if(row.IsInvalid)
                            {
                                return "Invalid";
                            }
                            else
                            {
                                return "Expired";
                            }
                        }
                    }
                },
                {
                    field: "operation", operation: true, title: "Operation", formatter: function ( value, row, index )
                    {
                        var html = "";
                        html += '<span class="btn-a"><a href="/SellerAdmin/ShopBonus/Detail/' + row.Id + '">detail</a></span>';

                        var str = row.DateEndStr + ' 23:59:59';
                        str = str.replace( /-/g, "/" );
                        var enddate = new Date( str );

                        if ( new Date() > enddate )
                        {
                            return html;
                        }

                        if ( !row.IsInvalid || row.StartTime > new Date() )
                        {
                            html += '<span class="btn-a"><a href="/SellerAdmin/ShopBonus/Edit/' + row.Id + '">edit</a></span>';
                        }
                        if ( !row.IsInvalid )
                        {
                            html += '<span class="btn-a"><a onclick="invalid(' + row.Id + ' , ' + row.IsInvalid + ');">invalid</a></span>';
                        }

                        return html;
                    }
                }
            ]]
        } );
    }

    function invalid( id, isInvalid )
    {
        if ( isInvalid )
        {
            $.dialog.tips( 'This activity has expired!' );
            return;
        }

        $.dialog.confirm( 'Determine to close the activity?', function (  )
        {
            var loading = showLoading();
            $.post( "/SellerAdmin/ShopBonus/Invalid", { id: id }, function ( data )
            {
                if ( data )
                {
                    $.dialog.tips( 'Close the activity successfully' );
                    var pageNo = $( "#list" ).hiMallDatagrid( 'options' ).pageNumber;
                    $( "#list" ).hiMallDatagrid( 'reload', { pageNumber: pageNo } );
                    loading.close();
                }
                else
                {
                    $.dialog.tips( 'Close the activity failed' );
                }
            } )
        } )
    }
</script>