<div class="container">
    <ul class="nav nav-tabs-custom clearfix">
        <li class="active"><a>Configuration error</a></li>
    </ul>
    <div class="form-horizontal">
        <div class="form-group">
            <p class="apply-primary"><span class="glyphicon glyphicon-info-sign"></span>You have not bound Wechat public number and you need bind it before use this function.</p>
        </div>
    </div>
</div>