@{
    ViewBag.Title = "领取记录";
}
<script src="~/Scripts/jquery.hiMallDatagrid.js"></script>
<div class="container">
    <ul class="nav nav-tabs-custom clearfix">
        <strong>Coupon</strong>
        <li class="active"><a>Record collection</a></li>
        <li class=""><a href="@Url.Action("Add")">Add coupon</a></li>
        <li class=""><a href="@Url.Action("BuyService")">Buy service</a></li>
        <em class="primary-btn">
            <span class="glyphicon glyphicon-question-sign"></span>
            <div class="primary">
                <h3>温馨提示：</h3>
                <span>*</span><p>显示用户已经领取的优惠券</p>
            </div>
        </em>
    </ul>
    <div>
        <table class="table" id="list"></table>
    </div>
    </div>
    <script type="text/javascript">
        $(function () {
            //订单表格
            $("#list").hiMallDatagrid({
                url: '../GetReceivers/@ViewBag.Id',
                nowrap: false,
                rownumbers: true,
                NoDataMsg: 'No matching records',
                border: false,
                fit: true,
                fitColumns: true,
                pagination: true,
                idField: "Id",
                pageSize: 15,
                pagePosition: 'bottom',
                pageNumber: 1,
                queryParams: {},
                columns:
                [[
                    { field: "Id", title: 'Id', hidden: true, width: 150 },
                    {
                        field: "CouponSN", title: "Coupon code", width: 220, align: "left",
                    },
                     {
                         field: "Price", title: "Price", width: 60, align: "left",
                     },
                    { field: "CreateTime", title: "Create time", width: 90, align: "left" },
                    { field: "ReceviceTime", title: "Receive time", width: 90, align: "left" },
                    { field: "Recever", title: "Receiver", width: 90, align: "left" },
                    { field: "UsedTime", title: "Used time", width: 90, align: "left" },
                     {
                         field: "OrderId", title: "Order id", width: 90, align: "left",
                         formatter: function (value, row, index) {
                             var html = "";
                             if(row.OrderId!=null)
                                 html = '<a href="@Url.Action("Detail", "Order")/'+row.OrderId+'">' + row.OrderId + '</a>';
                             return html;
                         }
                     },
                    { field: "Status", title: "Status", width: 80, align: "center" },
                ]]
            });
        });
    </script>
