
@{
    ViewBag.Title = "Shopping Cart";
    Layout = "~/Areas/Web/Views/Shared/_OrderTopBar.cshtml";
}
<div class="w990 cart">
    <div class="cart-hd group"><h2>Shopping Cart</h2></div>
    <div id="show">
        <div class="cart-inner">
        	<div class="message">
                <ul>
                    <li>There are no items in your shopping cart.<span class="unLogin">，Please <a href="javascript:bindToSettlement();">Sign In</a> to view the products you have previously added to your Shopping Cart</span></li>
                    <li><a href="/">Continue Shopping</a></li>
                </ul>
            </div>
            <div class="cart-list">
                <div class="cart-thead cl">
                    <div class="column t-checkbox form"><input type="checkbox" name="checkAll" checked="" value="" /><label for="">Select All</label></div>
                    <div class="column t-goods">Product(s)</div>
                    <div class="column t-price">Price</div>
                    <div class="column t-quantity">Qty.</div>
                    <div class="column t-action">Remove</div>
                </div>
                <div id="product-list" class="cart-tbody">
    
                </div>
                
                <div class="ui-ceilinglamp-1">
                    <div class="cart-dibu">
                        <div class="cart-total-2014">
                            <span class="column t-checkbox form" style="margin-right:10px;">
                                <input type="checkbox" checked="" name="checkAll" value="" class="jdcheckbox" style="margin: 15px 5px 0 19px;"/>
                                <label for="">Select All </label>
                            </span>
                            <span class="delete" style="margin-right:10px;">
                                <b></b>
                                <a href="javascript:void(0);" id="remove-batch">Delete</a>
                            </span>
                            <span id="selectedCount" style="color:#e4393c;">0</span> Item(s)
                            <div class="cart-button">
                                <a class="checkout" href="javascript:void(0);" id="toSettlement"><b></b>Proceed to Checkout</a>
                            </div>
                            <div class="total fr">Sub-Total（Not includes Shipping）：<span id="finalPrice">$ 0</span></div>
                        </div>
                    </div>
                </div>
			</div>
        </div>
    </div>
</div>
<input type="hidden" value="@Himall.Model.ProductInfo.ProductAuditStatus.Audited.GetHashCode()" id="hidAuditStatus" />
<input type="hidden" value="@Himall.Model.ProductInfo.ProductSaleStatus.OnSale.GetHashCode()" id="hidSaleStatus" />
<link href="~/Areas/Web/Content/WebLoginPlug.css" rel="stylesheet" />
<script src="~/Areas/Web/Scripts/jQuery.Web.Login.js"></script>
<script src="~/Scripts/CommonJS.js"></script>
<script src="~/Scripts/jquery.cookie.js"></script>
<script src="~/Areas/Web/Scripts/cartSettleAccounts.js"></script>