@model List<Himall.Web.Areas.SellerAdmin.Models.ShopCategoryModel>
@{
    ViewBag.Title = "Management";
}
<script src="~/Areas/SellerAdmin/Scripts/Category.js"></script>
<div class="container">
    <ul class="nav nav-tabs-custom clearfix">
        <strong>Categories</strong>
        <li class="active"><a>Management</a></li>
        <li><a value="0" class="addCategory">Add</a></li>
        <em class="primary-btn">
            <span class="glyphicon glyphicon-question-sign"></span>
            <div class="primary">
                <h3>Tips</h3>
                <span>*</span><p>管理店铺分类，分类最大支持二级</p>
            </div>
        </em>
    </ul>


    <table class="table category_table">
        <thead>
            <tr>
                <th class="td-choose">Select</th>
                <th>Categories name/order</th>
                <th class="td-operate">Operation</th>
            </tr>
        </thead>
        <tbody>
            @if (null == Model || Model.Count() == 0)
            {
                <tr>
                    <td style="text-align:center;" colspan="3"><h2>There is not any categories</h2></td>
                </tr>
            }
            else
            {
                foreach (var category in Model)
                {
                    <tr class="level-1">
                        <td class="td-choose"><input type="checkbox" name="" /></td>
                        <td>
                            <span class="glyphicon glyphicon-plus-sign"></span><input type="hidden" class="hidden_id" value="@category.Id" /><input class="text-name" type="text" value="@category.Name" />
                            @*<input class="text-order" type="text" value="@category.DisplaySequence" />*@
                        </td>
                        <td class="td-operate">
                            <span class="btn-a">
                                <a class="addCategory" value="@category.Id">add</a><a class="delete-classify">delete</a>
                            </span>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <div class="table-bt clearfix">
        <div class="tabel-operate">
            <label><input class="check-all" type="checkbox" name="" />select all</label>
            <button type="submit" id="deleteBatch" class="btn btn-primary btn-ssm">delete in banches</button>
        </div>


    </div>
</div>
