<?xml version="1.0"?>
<Config xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <SupportPlatfoms>
    <PlatformType>PC</PlatformType>
  </SupportPlatfoms>
  <Partner>2088221672323255</Partner>
  <Key>e5m9fb3lsvxnnpue4oguf6k062pr122m</Key>
  <GateWay>https://mapi.alipay.com/gateway.do?</GateWay>
  <VeryfyUrl>https://mapi.alipay.com/gateway.do?service=notify_verify&amp;</VeryfyUrl>
  <AlipayAccount>info@chemcloud.com</AlipayAccount>
  <Logo>logo.gif</Logo>
</Config>