@{
    Layout = "~/Areas/SellerAdmin/Views/Shared/_ShopProfile.cshtml";
    var manager = ViewBag.Manager as Himall.Model.ManagerInfo;

    List<string> menuItem = new List<string>() {
       "<li><a>入驻协议</a></li>",
       "<li><a>商家信息提交</a></li>",
       "<li><a>上传付款凭证</a></li>",
       "<li><a>审核状态</a></li>"
    };

    var step = (int)ViewBag.Step;

}

<div class="aside">
    <ul class="aside-list">
        @for (int i = 0; i < menuItem.Count; i++)
        {
            if (i == step)
            {
                @Html.Raw(menuItem[i].Replace("<li>", "<li class='current'>"))
            }
            else
            {
                @Html.Raw(menuItem[i])
            }
        }
    </ul>
</div>
<div class="content">
    <iframe id='iframe' src='@ViewBag.Frame' name='iframe' frameborder='0' scrolling='auto'></iframe>
</div>
