<?xml version="1.0"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <SupportPlatfoms>
    <PlatformType>PC</PlatformType>
  </SupportPlatfoms>
  <AppId>wx2458286260d89f85</AppId>
  <AppSecret>8f04743b797dbfb0f87f540cd4d0ce61</AppSecret>
  <MCHID>1348807901</MCHID>
  <Key>infochemcloud0000000000000000000</Key>
  <Logo>wx_logo.png</Logo>
  <HelpImage>phone-bg.png</HelpImage>
  <pkcs12>apiclient_cert.p12</pkcs12>
</Config>