@model Himall.Web.Areas.SellerAdmin.Models.ShopFreightModel

<script src="~/Scripts/autoNumeric.js"></script>
<div class="container">
    <ul class="nav nav-tabs-custom clearfix">
        <strong>Freight Setting</strong>
        <li class="active"><a>Freight Setting</a></li>
    </ul>
    <form class="form-horizontal" role="form">
        <div class="form-group" style="display:none;">
            <label for="" class="col-sm-2 control-label">Shop freight:</label>
            <div class="col-sm-2">
                <input type="text" id="freightInput" class="auto form-control input-sm" name="freight" value="@Model.Freight.ToString("F2")" data-d-group="0" data-a-sign="¥ ">
            </div>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-2 control-label">Free shipping:</label>
            <div class="col-sm-5">
                <input type="text" class="auto form-control input-sm" name="freeFreight" value="@Model.FreeFreight.ToString("F2")" data-d-group="0" data-a-sign="¥ ">
                &nbsp;'0' indicates that this feature is not enabled
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-10">
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>
</div>
<script>
    $(function () {
	$("#freightInput").focus();
        $('button').click(function () {
            var freight = $('input[name="freight"]').autoNumeric('get');
            var freeFreight = $('input[name="freeFreight"]').autoNumeric('get');
            if (freeFreight.length<1)
            {
                alert("Please enter a number");
                return;
            }
            if (freeFreight < 0)
            {
                alert("Do not enter numbers less than 0");
                return;
            }
            var loading = showLoading();

            $.post('SaveFreightSetting', { freight: freight, freeFreight: freeFreight }, function (result) {
                loading.close();
                if (result.success)
                    $.dialog.succeedTips('Save successfully!');
                else
                    $.dialog.errorTips('Save failed!' + result.msg);

            });
        });
        $('.auto').autoNumeric('init');
    })
</script>