@{
    ViewBag.Title = "Order Payment";
    Layout = "~/Areas/Web/Views/Shared/_PayTopBar.cshtml";
    var orders = (Himall.Model.ChargeDetailInfo)ViewBag.Orders;
}
@model IEnumerable<Himall.Web.Areas.Web.Models.PaymentModel>
<div class="w990 main">
    <div class="m mainbody">
        <div class="mc">
            <s class="icon-succ04"></s>
            <h3 class="orderinfo">Recharge submitted successfully, please pay it asap！</h3>
            <ul class="list-orderinfo">
                <li>RechargeID：@orders.Id</li>
            </ul>
            <p class="mb-tip">Recharge Amount：<strong class="ftx-01">@(((decimal)ViewBag.TotalAmount).ToString("F2"))</strong> </p>
        </div>
    </div>
    <div class="m pay-box">
        <div class="mc">
            <h5 class="subtit">Please select payment method</h5>
            <ul class="list-bank">
              
                    <li>
                        <label>
                         <input type="radio" class="jdradio" value="" name="requestUrl" id="radPaypal" urltype="2" />
                                <img title="paypal" width="165" height="48" alt="paypal" src="~/Areas/Web/Images/logo_paypal.png" style="border: 1px solid #CCC;" />

                        </label>
                    </li>
                
            </ul>
            <div class="btns"><a class="btn-next" href="javascript:;" id="nextBtn">Next</a></div>
        </div>
    </div>
</div>


<input type="hidden" id="orderIds" value="@ViewBag.OrderIds" />
<script>
    $(function () {
        $('.progress-').hide();
        var orderIds = $('#orderIds').val();
        $('input[name="requestUrl"]').change(function () {
            $('#nextBtn').attr('urlType', $(this).attr('urlType'));
            $('#nextBtn').attr('formdata', url);
        });

        $('#nextBtn').click(function () {
            var t = $("input[name='requestUrl']:checked").val();
            if (t == undefined)
            {
                $.dialog.tips('Please select payment method！');
                return;
            }
            if ($(this).attr('urlType') == "2") {
                var totalmon = @(((decimal)ViewBag.TotalAmount).ToString("F2"));
                openBlank('https://www.paypal.com/cgi-bin/webscr', {
                    cmd: "_xclick",
                    business: "fangmsen@sina.com",
                    item_name: orderIds,
                    amount: totalmon,
                    notify_url: "/Pay/CapitalChargeReturn?orderid=" + orderIds + "&price=" + totalmon + "&paytype=0&type=webcz&iplm=2",
                    currency_code: "USD"
                }, true);
                //$('#nextBtn').attr('href', "/Pay/Return?orderid=" + orderIds + "&price=" + $("#totalAmount").html() + "&paytype=0&type=webcz&iplm=2");
                //$('#nextBtn').attr('target', "_self");
            }


        });

    });
    function BuildPostForm(fm, url, target) {
        var e = null, el = [];
        if (!fm || !url)
            return e;
        target = target || '_blank';
        e = document.getElementById(fm);
        if (!e) {
            e = document.createElement('Form');
            e.Id = fm;
            document.body.appendChild(e);
        }

        e.method = 'post';
        e.target = target;
        e.style.display = 'none';
        e.enctype = 'application/x-www-form-urlencoded';

        var idx = url.indexOf('?');
        var para = [], op = [];
        if (idx > 0) {
            para = url.substring(idx + 1, url.length).split('&');
            url = url.substr(0, idx);//截取URL
            var keypair = [];
            for (var p=0 ; p < para.length; p++) {
                idx = para[p].indexOf('=');
                if (idx > 0) {
                    el.push('<input type="hidden" name="' + para[p].substr(0, idx) + '" id="frm' + para[p].substr(0, idx) + '" value="' + para[p].substring(idx + 1, para[p].length) + '" />');
                }
            }
        }

        e.innerHTML = el.join('');
        e.action = url;
        return e;
    };

    function openBlank(action, data, n) {
        var form = $("<form/>").attr('action', action).attr('method', 'post');
        if (n)
            //form.attr('target', '_blank');
            var input = '';
        $.each(data, function (i, n) {
            input += '<input type="hidden" name="' + i + '" value="' + n + '" />';
        });
        form.append(input).appendTo("body").css('display', 'none').submit();
    }
</script>